/* src/App.css */
.app {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  position: relative;
}

.map {
  width: 80%;
}

form div {
  margin-bottom: 10px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.autocomplete-container {
  position: relative;
}

.suggestions {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background: white;
  z-index: 1;
  width: calc(100% - 20px); /* Adjust width to match the input */
  top: 100%; /* Position below the input */
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.suggestion {
  padding: 10px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}
.btn-container {
  margin: 10px 0;
}

.btn-container button.disabled {
  opacity: 0.4;
}
.btn-container button {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  display: inline-block;
  vertical-align: top;
  width: calc(100% / 3 - 20px);
  margin-right: 10px;
}
.btn-container button:first-child {
  background: green;
}

.btn-container button:nth-child(2) {
  background: blue;
}

.btn-container button:last-child {
  background: yellow;
  margin-right: 0;
  color: black;
}